#qr_code_this {
  background:#eeeeee;
  border:1px solid #DEDEDE;
  padding: 5px 20px 0px 20px;
  -moz-box-shadow: 5px 5px 10px #999;
  -webkit-box-shadow: 5px 5px 10px #999;
  color:#444;
}
#qr_code_this span {
  display: block; 
  float: right;
  clear: right;
  font-size: 10px;
  padding-top: 5px; 
}
#qr_code_this a {
  color:#444;
  text-decoration: underline;
}